__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
venv/
.env/
env/
.venv/
build/
dist/
*.spec
logs/
*.log
.DS_Store
Thumbs.db
*.swp
*.swo
expl*   # ej: explicacion.txt si no quieres que suba
